<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-python.min.js"></script>
    <style>
      .custom-style {
        white-space: break-spaces !important;
        padding: 0em 1em 1em 1em !important;
      }
    </style>
  </head>
  <body>
    <div id="content"></div>

    <script>
      function fetchAndDisplayDocstrings(fileUrl) {
        fetch(fileUrl)
          .then(response => response.json())
          .then(data => {
            const fileContent = atob(data.content); // Decode base64-encoded content

            var renderer = new marked.Renderer();
            var realTableCellRenderer = renderer.tablecell
            renderer.tablecell = function(content, flags){
                flags.align = null;
                return realTableCellRenderer(content, flags)
            }

            const functionsWithDocstrings = [];
            const functionMatches = fileContent.match(
              /def\s+(\w+)\([\s\S]*?\"\"\"([\s\S]*?)\"\"\"/g
            );

            if (functionMatches) {
              functionMatches.forEach(match => {
                const [_, functionName, docstring] = match.match(
                  /def\s+(\w+)\([\s\S]*?\"\"\"([\s\S]*?)\"\"\"/
                );

                // Extract example code block
                const exampleCodeMatch = docstring.match(/```python([\s\S]*?)```/s);
                const exampleCode = exampleCodeMatch ? exampleCodeMatch[1] : '';

                // Extract example result
                const exampleResultMatch = docstring.match(/Which returns:[\s\S]*$/);
                const exampleResult = exampleResultMatch ? exampleResultMatch[0] : '';

                // Remove example code block from docstring
                const cleanedDocstringWithoutCode= docstring.replace(/```python([\s\S]*?)```/s, '');
                const cleanedDocstringWithoutTable = cleanedDocstringWithoutCode.replace(/Which returns:[\s\S]*$/, '');

                functionsWithDocstrings.push({ functionName, cleanedDocstringWithoutTable, exampleCode, exampleResult});
              });
            }

            const contentElement = document.getElementById('content');

            functionsWithDocstrings.forEach(({ functionName, cleanedDocstringWithoutTable, exampleCode, exampleResult}) => {
              const cleanedDocstring2 = cleanedDocstringWithoutTable.replace(/\n/g, '<br>');
              const cleanedDocstring3 = cleanedDocstring2.replace(/\w+ \([^)]+\):/g, match => `<u>${match}</u>`);
              const cleanedDocstring4 = cleanedDocstring3.replace(`Args:`, '**Args:**');
              const cleanedDocstring5 = cleanedDocstring4.replace(`Raises:`, '**Raises:**');
              const cleanedDocstring6 = cleanedDocstring5.replace(`Returns:`, '**Returns:**');
              const cleanedDocstring7 = cleanedDocstring6.replace(`Notes:`, '**Notes:**');

              const parsedDocstring = marked.parse(`${cleanedDocstring7}`);
              const parsedDocstringCleaned = parsedDocstring.replace(/(<br>\s*){3,}/g, '<br>');

              contentElement.innerHTML += `<h3 id=${functionName}>${functionName}</h2><a class="header-link" href="#${functionName}" title="Permalink">`;
              contentElement.innerHTML += marked.parse(`${parsedDocstringCleaned}`);
              
              if (exampleCode) {
                contentElement.innerHTML += `<pre class=custom-style><code class="language-python custom-style"">${exampleCode.replace(/^[ \t]+/gm, '')}</code></pre>`;
              }

              if (exampleResult) {
                exampleResult2 = exampleResult.replace('Which returns:', '')
                contentElement.innerHTML += `<p>Which returns:</p>`;
                contentElement.innerHTML += marked.parse(exampleResult2.replace(/^\s+|\s+$/gm, ''))
              }
            });

            Prism.highlightAll();
          })
          .catch(error => console.error('Error fetching file content:', error));
      }
      // Get the URL from the page's front matter
      fetchAndDisplayDocstrings('{{ include.fileUrl }}');
    </script>
  </body>
</html>