<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-python.min.js"></script>
    <style>
      .custom-style {
        white-space: break-spaces !important;
        padding: 0em 1em 1em 1em !important;
      }
    </style>
  </head>
  <body>
    <div id="content"></div>

    <script>
      function fetchAndDisplayDocstrings(fileUrl) {
        fetch(fileUrl)
          .then(response => response.json())
          .then(data => {
            const fileContent = atob(data.content); // Decode base64-encoded content

            var renderer = new marked.Renderer();
            var realTableCellRenderer = renderer.tablecell
            renderer.tablecell = function(content, flags){
                flags.align = null;
                return realTableCellRenderer(content, flags)
            }

            const functionsWithDocstrings = [];
            const functionMatches = fileContent.match(
              /def\s+(\w+)\([\s\S]*?\"\"\"([\s\S]*?)\"\"\"/g
            );

            if (functionMatches) {
              functionMatches.forEach(match => {
                const [_, functionName, docstring] = match.match(
                  /def\s+(\w+)\([\s\S]*?\"\"\"([\s\S]*?)\"\"\"/
                );

                // Description
                const descriptionMatch = docstring.match(/([^]*?)(?:Args:|As an example:|$)/s);
                const description = descriptionMatch ? descriptionMatch[1] : '';
                
                // Arguments
                const argumentsMatch = docstring.match(/(Args:.*?)(```python|$)/s);
                const arguments = argumentsMatch ? argumentsMatch[1] : '';

                // Extract example code block
                const exampleCodeMatch = docstring.match(/```python([\s\S]*?)```/s);
                const exampleCode = exampleCodeMatch ? exampleCodeMatch[1] : '';

                // Extract example result
                const exampleResultMatch = docstring.match(/Which returns:[\s\S]*$/);
                const exampleResult = exampleResultMatch ? exampleResultMatch[0] : '';

                // Remove example code block from docstring
                const cleanedDocstringWithoutCode= docstring.replace(/```python([\s\S]*?)```/s, '');
                const cleanedDocstringWithoutTable = cleanedDocstringWithoutCode.replace(/Which returns:[\s\S]*$/, '');

                functionsWithDocstrings.push({ functionName, description, arguments, exampleCode, exampleResult});
              });
            }

            const contentElement = document.getElementById('content');

            functionsWithDocstrings.forEach(({ functionName, description, arguments, exampleCode, exampleResult}) => {
              const formattedDescription = description
              .trim()
              .split('\n')
              .map(paragraph => paragraph.trim())
              .join('\n');

              const formattedArguments = arguments
              .trim()
              .split('\n')
              .map(paragraph => paragraph.trim())
              .join('\n')
              .replace(/\n/g, '<br>')
              .replace(/Args:/g, '**Args:**')
              .replace(/Raises:/g, '**Raises:**')
              .replace(/Returns:/g, '**Returns:**')
              .replace(/Notes:/g, '**Notes:**')
              .replace(/\w+ \([^)]+\):/g, match => `<u>${match}</u>`);

              contentElement.innerHTML += `<h3 id=${functionName}>${functionName}</h2><a class="header-link" href="#${functionName}" title="Permalink">`;
              contentElement.innerHTML += marked.parse(`${formattedDescription}`);

              if (formattedArguments) {
                contentElement.innerHTML += marked.parse(`${formattedArguments}`)
              }
              
              if (exampleCode) {
                contentElement.innerHTML += `<pre class=custom-style><code class="language-python custom-style"">${exampleCode.replace(/^[ \t]+/gm, '')}</code></pre>`;
              }

              if (exampleResult) {
                exampleResult2 = exampleResult.replace('Which returns:', '')
                contentElement.innerHTML += `<p>Which returns:</p>`;
                contentElement.innerHTML += marked.parse(exampleResult2.replace(/^\s+|\s+$/gm, ''))
              }
            });

            Prism.highlightAll();
          })
          .catch(error => console.error('Error fetching file content:', error));
      }
      // Get the URL from the page's front matter
      fetchAndDisplayDocstrings('{{ include.fileUrl }}');
    </script>
  </body>
</html>