<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/public/JeroenBouma.jpg" id="ProfilePicture" alt="Jeroen Bouma" style="width:70%;height:70%">
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item_finance_database" href="/FinanceDatabase/">Finance Database</a>
      <a class="sidebar-nav-item_fundamental_analysis" href="/FundamentalAnalysis/">Fundamental Analysis</a>
      <a class="sidebar-nav-item_fundamentals_quantifier" href="/FundamentalsQuantifier/">Finance Database</a>
      <a class="sidebar-nav-item_passive_investor" href="/ThePassiveInvestor/">The Passive Investor</a>
    </nav>

    <a href="https://github.com/JerBouma" target="_blank">
      <img src="/public/GitHub-Mark-Light-32px.png" alt="Jeroen Bouma GitHub" style="padding: 10px 10px 10px 0px;
      float: left">
    </a>
    <a href="https://www.linkedin.com/in/boumajeroen/" target="_blank">
      <img src="/public/linkedin-3-32.png" alt="Jeroen Bouma LinkedIn" style="padding: 10px 10px 10px 0px;
      float:left">
    </a>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
