/* ==========================================================================
   Contrast skin
   ========================================================================== */

/* Colors */
$text-color: #000 !default;
$muted-text-color: $text-color !default;
$primary-color:  #3b9cba !default;
$border-color: #ffffff !default;
$footer-background-color: #000 !default;
$link-color: #3b9cba !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* contrast syntax highlighting (base16) */
$base00: rgb(246, 248, 250) !default;
$base01: #242422 !default;
$base02: #484844 !default;
$base03: #6c6c66 !default;
$base04: #918f88 !default;
$base05: rgb(31, 35, 40) !default;
$base06: #d9d7cc !default;
$base07: #fdfbee !default;
$base08: #ff6c60 !default;
$base09: #e9c062 !default;
$base0a: rgb(31, 35, 40) !default;
$base0b: rgb(10, 48, 105) !default;
$base0c: rgb(207, 34, 46) !default;
$base0d: rgb(102, 57, 186) !default;
$base0e: rgb(207, 34, 46) !default;
$base0f: #b18a3d !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}
