---
layout: default
---

{% if page.github == null %}
<div class="row">
    <div class="col-sm-8">
        <div class="post">
            <h1 class="post-title">{{ page.title }}</h1>
            <span class="post-date">{{ page.date | date_to_string }}</span>
            {{ content }}
        </div>
        <div class="related">
            <h2>Related Posts</h2>
            <ul class="related-posts">
                {% for post in site.related_posts limit:3 %}
                <li>
                    <h3>
                        <a href="{{ post.url }}">
                            {{ post.title }}
                            <small>{{ post.date | date_to_string }}</small>
                        </a>
                    </h3>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4">
            <p></p>
        </div>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col-sm-8">
        <div class="post">
            <h1 class="post-title">{{ page.title }}</h1>
            <span class="post-date">{{ page.date | date_to_string }}</span>
            {{ content }}
        </div>
        <div class="related">
            <h2>Related Posts</h2>
            <ul class="related-posts">
                {% for post in site.related_posts limit:3 %}
                <li>
                    <h3>
                        <a href="{{ post.url }}">
                            {{ post.title }}
                            <small>{{ post.date | date_to_string }}</small>
                        </a>
                    </h3>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <h2>About me</h2>
        <p>After finishing my Masters in Finance, I started working as an ALM Advisor advising pension funds on
            their strategic asset allocation and the management of their liabilities. Next to that, I am a real Python
            enthusiast. Developing new, Finance-related, libraries and applications is what I love to do in my spare
            time. The most prominent projects you can find on here. Feel free to connect with me on <a
                    href="https://www.linkedin.com/in/boumajeroen/" target="_blank">LinkedIn</a> or send me an <a
                    href="mailto:jer.bouma@gmail.com" target="_blank">email</a>!</p>
        <a href="https://github.com/JerBouma" target="_blank">
            <img align="center"
                 src="https://github-readme-stats.vercel.app/api?username=jerbouma&include_all_commits=true&show_icons=true"/>
        </a>
    </div>
</div>
{% endif %}
