name: Create Finance Toolkit Documentation
  
on: [push]  
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    strategy:  
      matrix:  
        python-version: ["3.10"]  
  
    steps:  
      - uses: actions/checkout@v3  
      - name: Set up Python ${{ matrix.python-version }}  
        uses: actions/setup-python@v4  
        with:  
          python-version: ${{ matrix.python-version }}  
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies  
        run: |  
          poetry install
      - name: Create Finance Toolkit Documentation
        run: |  
          poetry run assets/python/docs.py